<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.pc.mapper.PcClinicRoomMapper">
    <select id="getClinicRoom" resultType="org.jeecg.modules.common.entity.ClinicRoom">
        select * from his_clinic_room where id = #{clinicRoomId}
    </select>

</mapper>